$namespace: 'h' !default;
/* 主题色 */
$primaryColor:#008AFF;
$white: #fff;
$black: #000;
$gray: #F8F8F8;
$dark-gray: #373737;

/* 字体大小 */ 
$h1:58rpx;
$h2:52rpx;
$h3:42rpx;
$h4:38rpx;
$h5:32rpx;
$h6:28rpx;
$text:26rpx;

/*间距*/
$padding-x: 0 30rpx;
$padding-y: 30rpx 0;
$padding: 30rpx;
$margin-x: 0 30rpx;
$margin-y: 30rpx 0;
$margin: 30rpx;

/* 按钮尺寸 */
$button-text-size:30rpx;
$button-size:80rpx;
$button-mini-text-size:24rpx;
$border-color: #F2F2F2; 

/* 圆角尺寸 */
$button-border-radius:10rpx;


